h1{
    color:white;
    font-size:500%;
    font-family: cursive;
    font-weight: bold;
    display:flex;
    justify-content: center;
    margin-bottom: 0; 
}
h2{
    font-family: "Times New Roman";
    text-decoration: underline;
    padding:0px;
    
}
.mainInfo h4{
    color:blanchedalmond;
}
h4{
    color:rgb(23, 23, 22);
}
h6{
    color:blanchedalmond;
}
a {
    color:blanchedalmond; 
    text-decoration: none; 
}
a:hover {
    color: #FFA07A; 
}
#small{
    font-size: smaller;
}



#my-name{
    margin-top: 0px;
}




.mainInfo{
    background-image:  linear-gradient(to right, rgb(182, 102, 210), rgb(255, 204, 153), rgb(255, 192, 203));
    height:460px;
    padding:5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.img-style{
    border-radius: 50%;
    max-width: 400px;
    max-height: 300px;
    float:center;
    margin-top:29px
}

.center-text{
    padding-left: 10px;
    color:white;
    text-align: center;
    
}
.left30{
   
    width:30%;
    float:left;
    margin:0px;
    padding:0px;
    border:0;
}
.right70{
    width:70%;
    float:right;
    margin:0px;
    padding:0px;
    border:0;
}
.left50{
    
    width:50%;
    float:left;
    margin:0px;
    padding:0px;
    border:0;
}
.right50{
    width:50%;
    float:right;
    margin:0px;
    padding:0px;
    border:0;
}

.circle1 {
width: 400px;
height: 200px;
background-image: linear-gradient(to right, rgb(182, 102, 210), rgb(255, 204, 153), rgb(255, 192, 203));
border-radius: 50%; /* Make it a circle */
}
.circle2 {
width: 500px;
height: 300px;
background-image: linear-gradient(to right, rgb(255, 192, 203) , rgb(255, 204, 153), rgb(182, 102, 210));
border-radius: 50%; /* Make it a circle */
margin-top:50px;
}
.no-style{
    list-style-type: none;
}

i{
    font-size: 30px;
}
.cv-footer{
    background-image: linear-gradient(to right, rgb(182, 102, 210), rgb(255, 204, 153), rgb(255, 192, 203));
    text-align: center;
    height:auto;
    padding-block-end: 5px;
    padding-block-start: 5px;
    margin-top:15px;
   
    
}

